{% extends "base.html" %} {% block content %}
<article class="post">
  <h2>{{ post.title }}</h2>
  <div class="meta">
    <span>发布时间: {{ post.date | formatDate }}</span>
    <span>（{{ post.date | daysAgo }}）</span>
    {% if post.tags.length %}
    <span>标签: {% for tag in post.tags %}
      <a href="/tags/{{ tag }}/">{{ tag }}</a>{% if not loop.last %}, {% endif
      %} {% endfor %}
    </span>
    {% endif %}
  </div>

  <div class="post-content">{{ post.content | safe }}</div>
</article>
{% endblock %}